@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
	--font-angry: var(--font-angry);
	--font-sign: var(--font-whispering-signature);
	--font-modern: var(--font-quality-modern);
}
